<section id="activities">
    <div class="main-container">
        <div class="crono-container">
            <div>
                <img id="activity-id" src="" alt="Imagem da Atividade" class="img-fluid" style="max-width: 800px;">
            </div>
            <div>
                <div id="info">TEMPO:</div>
                <div id="chronometer">00:00</div>
                <div class="btn-group">
                    <button class="btn btn-success" onclick="startTimer()" title="Iniciar"><i
                            class="bi bi-play-fill"></i></button>
                    <button class="btn btn-primary" onclick="pauseTimer()" title="Pausar"><i
                            class="bi bi-pause-fill"></i></button>
                    <button class="btn btn-warning" onclick="resetTimer()" title="Reiniciar"><i
                            class="bi bi-arrow-counterclockwise"></i></button>
                    <button class="btn btn-info" onclick="setTimer()" title="Configurar"><i
                            class="bi bi-gear-fill"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>