<section id="theme_01">
    <div style="display: flex; justify-content: center; align-items: center; padding: 2%;">
        <div class="mx-auto" style="width: 80%; padding-top: 2%;">

            <h2>Minha Tabela</h2>

            <table class="table table-sm table-striped table-bordered text-center" style="border-color: #28a745;">
                <thead class="table-success">
                    <tr>
                        <th>Campo 01</th>
                        <th>Campo 02</th>
                        <th>Campo 03</th>
                        <th>Campo 04</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>linha 01, coluna 01</td>
                        <td>linha 01, coluna 02</td>
                        <td>linha 01, coluna 03</td>
                        <td>linha 01, coluna 04</td>
                    </tr>
                    <tr>
                        <td>linha 02, coluna 01</td>
                        <td>linha 02, coluna 02</td>
                        <td>linha 02, coluna 03</td>
                        <td>linha 02, coluna 04</td>
                    </tr>
                    <tr>
                        <td>linha 03, coluna 01</td>
                        <td>linha 03, coluna 02</td>
                        <td>linha 03, coluna 03</td>
                        <td>linha 03, coluna 04</td>
                    </tr>
                    <tr>
                        <td>linha 04, coluna 01</td>
                        <td>linha 04, coluna 02</td>
                        <td>linha 04, coluna 03</td>
                        <td>linha 04, coluna 04</td>
                    </tr>
                    <tr>
                        <td>linha 05, coluna 01</td>
                        <td>linha 05, coluna 02</td>
                        <td>linha 05, coluna 03</td>
                        <td>linha 05, coluna 04</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</section>